---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import { AspectRatio } from '@/components/ui/aspect-ratio'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { HoverEffect } from '@/components/client/card-hover-effect'
import BaseLayout from '@/layouts/base-layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'

const posts = (await getCollection('project')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="mx-auto max-w-screen-lg">
    <div class="grid justify-items-center md:grid-cols-2">
      {
        posts?.map((post, index) => (
          <HoverEffect
            index={index}
            href={`/project/${post.slug}/`}
            client:load
          >
            <Card className="relative z-20">
              <CardHeader>
                <AspectRatio
                  ratio={16 / 9}
                  className="overflow-hidden rounded-lg border bg-muted"
                >
                  <Image
                    src={post.data.heroImage}
                    alt={post.data.title}
                    draggable="false"
                    class="h-full w-full object-cover shadow-lg"
                  />
                </AspectRatio>
              </CardHeader>
              <CardContent>
                <CardTitle>{post.data.title}</CardTitle>
                <CardDescription>{post.data.description}</CardDescription>
              </CardContent>
            </Card>
          </HoverEffect>
        ))
      }
    </div>
  </section>
</BaseLayout>
