---
import { getCollection } from 'astro:content'
import FormattedDate from '@/components/formatted-date.astro'
import { AspectRatio } from '@/components/ui/aspect-ratio'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import BaseLayout from '@/layouts/base-layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
)
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <div class="grid justify-items-center gap-8 md:grid-cols-2">
      {
        posts.map((post) => (
          <a href={`/blog/${post.slug}/`} class="w-full">
            <Card>
              <CardHeader>
                <AspectRatio ratio={16 / 9} className="bg-muted">
                  <img
                    src={post.data.heroImage}
                    alt={post.data.title}
                    class="h-full w-full rounded-lg object-cover shadow-lg"
                  />
                </AspectRatio>
              </CardHeader>
              <CardContent>
                <CardTitle>{post.data.title}</CardTitle>
                <CardDescription>
                  <FormattedDate date={post.data.pubDate} />
                </CardDescription>
              </CardContent>
            </Card>
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
