---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import FormattedDate from '@/components/formatted-date.astro'
import { AspectRatio } from '@/components/ui/aspect-ratio'
import { Badge } from '@/components/ui/badge'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { HoverEffect } from '@/components/client/card-hover-effect'
import BaseLayout from '@/layouts/base-layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'

const posts = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="mx-auto max-w-screen-lg">
    <div class="grid justify-items-center md:grid-cols-2">
      {
        posts?.map((post, index) => (
          <HoverEffect index={index} href={`/blog/${post.slug}/`} client:load>
            <Card className="relative z-20">
              <CardHeader className="relative">
                <AspectRatio
                  ratio={16 / 9}
                  className="bg-muted overflow-hidden rounded-lg border"
                >
                  <Badge className="absolute bottom-3 left-3 text-md rounded-md">
                    {post.data.category}
                  </Badge>
                  <Image
                    src={post.data.heroImage}
                    alt={post.data.title}
                    draggable="false"
                    class="h-full w-full object-cover shadow-lg"
                  />
                </AspectRatio>
              </CardHeader>
              <CardContent className="flex flex-col gap-2">
                <CardDescription>
                  <FormattedDate date={post.data.pubDate} />
                </CardDescription>
                <CardTitle>{post.data.title}</CardTitle>
                <CardDescription className="line-clamp-2">
                  {post.data.description}
                </CardDescription>
              </CardContent>
            </Card>
          </HoverEffect>
        ))
      }
    </div>
  </section>
</BaseLayout>
