---
import { Image } from 'astro:assets'
import FormattedDate from '@/components/formatted-date.astro'
import { AspectRatio } from '@/components/ui/aspect-ratio'
import { Separator } from '@/components/ui/separator'
import BaseLayout from '@/layouts/base-layout.astro'
import '@/styles/mdx.css'

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<BaseLayout {title} {description}>
  <article>
    <div class="m-auto max-w-screen-md">
      <AspectRatio
        ratio={16 / 9}
        className="overflow-hidden rounded-lg bg-muted"
      >
        <Image
          src={heroImage}
          alt={title}
          draggable="false"
          class="h-full w-full object-cover shadow-lg"
        />
      </AspectRatio>
      <div class="flex flex-col items-center gap-4 py-8">
        <h1
          class="scroll-m-20 text-center text-4xl font-extrabold tracking-tight lg:text-5xl"
        >
          {title}
        </h1>
        <div class="">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
      </div>
      <Separator className="mb-8" />
      <div class="prose">
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>
