---
import { Image } from 'astro:assets'
import FormattedDate from '@/components/formatted-date.astro'
import TocScript from '@/components/toc-script.astro'
import { Comments } from '@/components/client/comments'
import { AspectRatio } from '@/components/ui/aspect-ratio'
import { Separator } from '@/components/ui/separator'
import BaseLayout from '@/layouts/base-layout.astro'
import '@/styles/mdx.css'
import '@/styles/toc.css'

const { title, description, pubDate, updatedDate, heroImage, toc, comment } =
  Astro.props
---

<BaseLayout {title} {description}>
  <article class="flex flex-col items-center gap-8 md:gap-16">
    {
      heroImage && (
        <AspectRatio
          ratio={9 / 4}
          className="overflow-hidden rounded-lg border bg-muted w-full"
        >
          <Image
            src={heroImage}
            alt={title}
            draggable="false"
            class="h-full w-full object-cover"
          />
        </AspectRatio>
      )
    }
    <div class="flex flex-col items-center gap-4">
      <h1
        class="scroll-m-20 text-center text-4xl font-bold tracking-tight lg:text-5xl"
      >
        {title}
      </h1>
      <div>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>
    <Separator />
    <div class="relative w-full">
      {
        toc && (
          <aside class="sticky top-36 hidden xl:block">
            <div class="toc absolute max-w-52 text-ellipsis">
              <TocScript />
            </div>
          </aside>
        )
      }
      <div class="prose m-auto max-w-screen-md px-8">
        <slot />
      </div>
      {
        comment && (
          <div class="m-auto max-w-screen-md px-8">
            <Comments className="mt-16" client:load />
          </div>
        )
      }
    </div>
  </article>
</BaseLayout>
