---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '@/components/formatted-date.astro'
import { Separator } from '@/components/ui/separator'
import BaseLayout from '@/layouts/base-layout.astro'
import '@/styles/mdx.css'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<BaseLayout {title} {description}>
  <article>
    <div class="m-auto max-w-screen-md">
      {
        heroImage && (
          <img
            src={heroImage}
            alt={title}
            class="aspect-video w-full rounded-xl shadow-lg"
          />
        )
      }
      <div class="flex flex-col items-center gap-4 py-8">
        <h1
          class="scroll-m-20 text-center text-4xl font-extrabold tracking-tight lg:text-5xl"
        >
          {title}
        </h1>
        <div class="">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
      </div>
      <Separator className="mb-8" />
      <div class="prose">
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>
