---
import { PostInfo } from '@/components/post-info'
import { Badge } from '@/components/ui/badge'
import { Separator } from '@/components/ui/separator'
import Main from '@/layouts/main.astro'
import '@/styles/mdx.css'

const { post } = Astro.props

const { title, description, category, date, image } = post.data

const { Content } = await post.render()
---

<Main {title} {description}>
  <section class="mx-auto max-w-screen-md py-4">
    <header class="flex flex-col items-start gap-8">
      <img src={image} alt={title} class="w-full rounded-xl" />
      <Badge className="rounded-full text-sm font-medium">
        {category}
      </Badge>
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
      >
        {title}
      </h1>
      <PostInfo date={date} client:load />
    </header>
    <Separator className="my-8" />
    <article class="mdx">
      <Content />
    </article>
    <div class="sidebar"></div>
  </section>
</Main>
